<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"  />
</head>
<body>
<div class="container">

	<div class="row row-title">
		<h2>Update Rating</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/rating/update/{id}(id=${rating.id})}" th:object="${rating}" method="post" class="form-horizontal" style="width: 100%">
			<div class="form-group">
				<label for="moodysRating" class="col-sm-2 control-label required">Moodys Rating</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{moodysRating}" id="moodysRating" maxlength="125" size="125"
						   placeholder="MoodysRating" class="col-4 input-field" required>
					<p class="text-danger" th:if="${#fields.hasErrors('moodysRating')}" th:errors="*{moodysRating}"></p>
				</div>
				<label for="sandPRating" class="col-sm-2 control-label required">SandP Rating</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{sandPRating}" id="sandPRating" maxlength="125" size="125"
						   placeholder="SandPRating" class="col-4 input-field" required>
					<p class="text-danger" th:if="${#fields.hasErrors('sandPRating')}" th:errors="*{sandPRating}"></p>
				</div>
				<label for="fitchRating" class="col-sm-2 control-label required">Fitch Rating</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{fitchRating}" id="fitchRating" maxlength="125" size="125"
						   placeholder="fitchRating" class="col-4 input-field" required>
					<p class="text-danger" th:if="${#fields.hasErrors('fitchRating')}" th:errors="*{fitchRating}"></p>
				</div>
				<label for="orderNumber" class="col-sm-2 control-label required">Order</label>
				<div class="col-sm-10">
					<input type="number" th:field="*{orderNumber}" id="orderNumber" maxlength="125" size="125"
						   placeholder="orderNumber" class="col-4 input-field" required>
					<p class="text-danger" th:if="${#fields.hasErrors('orderNumber')}" th:errors="*{orderNumber}"></p>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<a class="btn btn-danger btn-sm" href="/rating/list">Cancel</a>
						<input class="btn btn-primary btn-sm btn-submit" type="submit" value="Update rating">
					</div>
				</div>
			</div>
		</form>
	</div>

</div>
</body>
</html>